.root{
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;

  canvas{
    width: 800px;
    height: 600px;
    border: 1px solid black;
  }
}